* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: pelago, sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root {

    --primary-color: #a4c3b2;
    --accent-color: #6b9080;
    --accent-2-color: #cce3e4;

    --primary-bg-color: #fdfdfd;
    --secondary-bg-color: #eaf4f4;

    --primary-txt-color: #23272a;
    --secondary-txt-color: #fdfdfd;

    --btn-color: #7289da;
    --btn-hover: #4E5D94;

    font-size: 16px;

    /* background: rgb(204,227,228);
    background: linear-gradient(185deg, rgba(204,227,228,1) 0%, rgba(204,227,228,1) 84%, rgba(255,255,255,1) 84%); */

}

body {
    background-color: var(--primary-bg-color);
}

p, h1, h2, h3, h4, h5, h6 {
    color: var(--primary-txt-color);
    
}

.heading {
    font-size: 36px;
}

.wrap {
    display: grid;
    grid-template-columns: 3fr 8fr;
    grid-gap: 1fr;

}

.img-fluid {
    width: 100%;
    height: auto;
}

/* #region  navigation */

.StyleguideNav {
    background-color: var(--primary-color);
}

.StyleguideNav__list {
    position: fixed;
    top: 0;
    left: 10%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
    height: 100%;

    list-style: none;
    font-size: 36px;
    
}

.StyleguideNav__list a {
    color: var(--primary-txt-color);
    text-decoration: none;

    transition: .2s;
}
.StyleguideNav__list a:hover {
    padding-left: 20px;
}

.StyleguideNav__list-item-span {
    color: var(--accent-color);
}



/* #endregion */

main {
    border-left: 5px solid var(--accent-color);
}

main article {
    border-bottom: solid var(--accent-color);
    padding-left: 20px;
}

/* #region  colors */

.colors {
    background-color: var(--gradient);
    background: rgb(204,227,228);
    background: linear-gradient(185deg, rgba(204,227,228,1) 0%, rgba(204,227,228,1) 84%, rgba(255,255,255,1) 84%);
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    align-items: center;
}

.colors__cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.colors__figure {
    width: 200px;
    height: 200px;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-bg-color);
}

.--primary {
    background-color: var(--primary-bg-color);
}
.--accent {
    background-color: var(--accent-color);
}
.--accent-2 {
    background-color: var(--accent-2-color);
}
.--primary-bg {
    background-color: var(--primary-bg-color);
}
.--secondary-bg {
    background-color: var(--secondary-bg-color);
}
.--primary-txt {
    background-color: var(--primary-txt-color);
}
.--btn-color {
    background-color: var(--btn-color);
}
.--btn-hover {
    background-color: var(--btn-color);
}

.colors__figcaption {
    text-align: center;
}



/* #endregion */



/* #region font */

.font {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
    align-items: center;
    
}

.font__txt1 {
    font-size: 32px;
    font-weight: 600;
    font-family: pelago, sans-serif;
}

.font__txt2 {
    font-size: 26px;
    font-weight: 600;
    font-family: pelago, sans-serif;
}

.font__txt3 {
    font-size: 18px;
    font-weight: 400;
    font-family: pelago, sans-serif;
}

.font__txt4 {
    font-size: 16px;
    font-weight: 400;
    font-family: pelago, sans-serif;
}

.font__txt5 {
    font-size: 14px;
    font-weight: 400;
    font-family: pelago, sans-serif;
    font-style: italic;
    
}


/* #endregion */


/* #region buttons */

.buttons {

    display: grid;
    grid-template-rows: 1fr 3fr 1fr 2fr;
    align-items: center;

}

.buttons__anchor {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.buttons a {
    text-decoration: none;
    /* color: var(--colorText); */
    color: var(--secondary-txt-color);
    background-color: var(--btn-color);
    
    /* border: 1px solid var(--colorBtn); */
    border-radius: 6px;
    padding: 12px;
    text-decoration: none;
    font-weight: 700;
}

.buttons a:hover {
    transform: scale(1.1);
    background-color: var(--btn-hover);
}

.buttons a:nth-child(2) {
    text-transform: uppercase;
    /* font-weight: 700; */
    padding: 16px;

}

.buttons a:nth-child(3) {
    /* font-weight: 400; */
    background-color: transparent;
    color: var(--primary-txt-color);
    border: 3px solid var(--btn-color);

}

.buttons a:nth-child(4) {
    padding: 16px;
    background-color: transparent;
    color: var(--primary-txt-color);
    border: 3px solid var(--btn-color);
    
    text-transform: uppercase;

}

.buttons__code {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    padding: 4px;
}

/* #endregion */


/* #region cards */

.card {

    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    align-items: center;
    
}

.card__logoCards {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 20px;

}
.card__logoCards figure:nth-child(1) {
    width: 512px;
}
.card__logoCards figure:nth-child(2) {
    width: 192px;
}
.card__logoCards figure:nth-child(3) {
    width: 72px;
}
.card__logoCards figure:nth-child(4) {
    width: 48px;
}
.card__logoCards figure:nth-child(5) {
    width: 512px;
}
.card__logoCards figure:nth-child(6) {
    width: 192px;
}
.card__logoCards figure:nth-child(7) {
    width: 72px;
}
.card__logoCards figure:nth-child(8) {
    width: 48px;
}

/* #region  Ui patterns */


.ui>* {
    padding-top: 10px;
}

.scrollable {
    margin-top: 20px;
    max-height: 200px;
    overflow-y: scroll;
    border: 1px solid black;
    padding: 4px;
    margin-bottom: 20px;
    
}

.btn-medium {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-color);
    border-radius: 5px;
    box-shadow: 1px 2px #23272a66;
    margin: 25px 25px 0 25px;
    max-width: 160px;
    height: 42px;
    color: var(--secondary-txt-color);
    text-transform: uppercase;
    font-size: 2rem;
    cursor: pointer;
    text-decoration: none;

}

.call-erna__header {
    margin: 50px 25px;
    margin-bottom: 5px;
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--primary-txt-color);
}

.call-erna__wrapper {
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.erna-image {
    width: 100%;

} 

.call-erna__overlay {
    width: 100%;
    font-size: 13px;
    background-color: var(--accent-color);
    opacity: 95%;
  
    position: absolute;
    bottom: 0;
    left: 0;
}

.call-erna__txt {
    padding: 10px 25px;
    font-size: 1.2rem;
    font-weight: 400;
}

.call-erna__info {
    margin: 5px 25px 25px 25px;
}

.call-erna__name {
    font-size: 1.6rem;
    font-weight: 600;
}

.call-erna__info-txt {
    font-size: 1.6rem;
    font-weight: 400;
    margin: 5px 0;
}

.call-erna__desktop-wrapper {
    width: 40%;
}

.call-erna__header {
    color: var(--primary-txt-color);
    padding: 0 0 0 25px;
    margin: 0;
    font-size: 3.2rem;
    font-weight: 600;
}

.call-erna-desktop {
    display: none;
    width:100%;
    object-fit: contain;
    margin-right: 0;
}

.call-erna__overlay {
    background-color: var(--primary-color);
    
}

.call-erna__intro {
    color: var(--primary-txt-color);
    margin: 5px 25px 20px 25px;
    font-size: 1.8rem;
    font-weight: 400;
}

.program__btn--membership {
    margin-bottom: 25px;
}

.call-erna__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-form {
    justify-content: center;
    margin: 50px 25px;
    width: 40%;
}

.contact__form__name {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.contact__name {
    display:flex; 
    width: 100%;
}
.contact__input {
    width: 100%;
}

.contact__textform {
    width: 100%;
}

.contact__message {
    height: 100px;
}

.input__form {
    margin-bottom: 25px;
    width: 100%;
}

.contactform-textform__button {
    width: 160px;
    height: 42px;
    /*padding: 5px 31px;*/
    font-size: 2.2rem;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--btn-color);
    border-radius: 5px;
    box-shadow: 1px 2px #23272a66;
    border: none;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-txt-color);
    float: right;
    cursor: pointer;
    }


    .program {
        width: 40%;
        height: 100%;
        background: var(--primary-bg-color);
    }
    
    
    .program__intro {
        color: var(--primary-txt-color);
        margin: 0;
        font-size: 1.8rem;
        font-weight: 400;
    }
    
    .program__card {
        width: auto;
        height: auto;
        margin: 0;
        background-color: var(--secondary-bg-color);
        border-radius: 5px;
        box-shadow: 1px 2px #23272a22;
    }
    
    .program__card img {
        width: 100%;
        object-fit: cover;
    }

    .program__card-header {
        color: var(--primary-txt-color);
        font-size: 2rem;
        font-weight: 600;
        margin-left: 15px;
    }

    .program__card-location {
        color: var(--primary-txt-color);
        font-size: 1rem;
        font-weight: 400;
        margin-left: 15px;
    }

    .program__card-txt {
        font-size: 1.3rem;
        margin: 10px 0 0 15px;
    }

    
.program__card-see-more {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 1.2rem;
    font-weight: 500;

}

.program__card-cta {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 15px 15px 15px;
    padding-bottom: 15px;
}

    .btn-small {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--btn-color);
    border-radius: 5px;
    box-shadow: 1px 2px #23272a66;
    
    width: 40%;
    height: auto;
    color: var(--secondary-txt-color);
    text-transform: uppercase;
    font-size: 2rem;
    cursor: pointer;
    text-decoration: none;
}

.clear {
    clear: both;
}

/* #endregion */

/* #region  navigation */
.nav__primary {
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
}

.nav__menu {
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    z-index: 8;
    /* padding-top:100px; */
    position: relative;
    visibility: hidden;
}

.nav__codesnippet {
    margin-top: 0px;
}

.nav__logo {

    width: 100%;
    max-width: 150px;
    margin: 6px 0 15px 25px;
}

.nav__list {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-shrink: 1;
    list-style: none;
    margin: 0 25px 0 0;
    padding: 38px 0 0 0;
    
    }
    
    .nav__list-item {
        margin-left: 25px;
    }
    
    .nav__img{
        width: auto;
        height: auto;
    }

    #closeicon {
        display: none;
    }


    
.show__menu {
    transform: translateX(0);
}

.nav__menu-list {
    list-style: none;
    padding-left: 25px;
}

.nav__menu-list-item {
    text-decoration: none;
    color: var(--primary-txt-color);
    font-size: 3.2rem;
    font-weight: 500;
    padding-top: 30px;
    text-transform: uppercase;
}

.nav__menu-list-item:hover {
    text-decoration: underline;
}

.nav__dropdown {
    list-style: none;
    margin-left: 20px;
    transform: translateY(-100%);
    transition: 0.3;
}

.show__dropdown {
    transform: translateY(0);
}

.nav__dropdown-arrow {
    color: var(--primary-txt-color);
    cursor: pointer;
}

.nav__dropdown-arrow-2 {
    color: var(--primary-txt-color);
}

.nav__dropdown-item {
    text-decoration: none;
    color: var(--primary-txt-color);
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 5px;
}

    

/* #endregion */




@media only screen and (max-width: 1300px)  {
    .card__logoCards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 1000px)  {
    .card__logoCards {
         width: 100%;
         
        grid-template-columns: repeat(3, 1fr);
    }
    .card__logoCards figure {
        width: 150px;
    
    }
    
}

@media only screen and (max-width: 600px)  {
    .card__logoCards {
         width: 100%;
         
        grid-template-columns: repeat(2, 1fr);
    }
    .card__logoCards figure {
        width: 150px;
    
    }

}







/* #endregion */













