<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
    <script src="https://kit.fontawesome.com/bd8605f5df.js" crossorigin="anonymous"></script>
    <script src="../js/desktop-dropdown.js" defer></script>
</head>
<body>
    <nav class="nav-dt">
        
        <img class="nav-dt__logo" src="../logos/logo_design_oh_green.png" alt="logo">

        <ul class="nav-dt__list">
            <li class="nav-dt__list-item"><a href="../../index.html" class="nav-dt__list-anchor">Forside</a></li>
            <li class="nav-dt__list-item"><a href="../subpages/program.html" class="nav-dt__list-anchor">Program<i class="fas fa-chevron-down nav-dt__dropdown-arrow arrow-1"></i></a></li>
            <li class="nav-dt__list-item"><a href="../subpages/membership.html" class="nav-dt__list-anchor">Medlem</a></li>
            <li class="nav-dt__list-item"><a href="../subpages/contact.html" class="nav-dt__list-anchor">Kontakt os</a></li>
            <li class="nav-dt__list-item"><a href="#" class="nav-dt__list-anchor">Mere <i class="fas fa-chevron-down nav-dt__dropdown-arrow arrow-2"></i></a></li>
        </ul>

        <div class="nav-dt__dropdown-arrow-2-list">
            <a class="nav-dt__dropdown-arrow-2-list-a" href="../subpages/about.html">Om os</a>
            <a class="nav-dt__dropdown-arrow-2-list-a" href="../subpages/contact.html">vores historie</a>
            <a class="nav-dt__dropdown-arrow-2-list-a" href="../subpages/contact.html">vores vedtægter</a>
        </div>

    </nav>
</body>
</html>