<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://use.typekit.net/egq1yjh.css">
    <script src="https://kit.fontawesome.com/bd8605f5df.js" crossorigin="anonymous"></script>
</head>
<body>
    <footer class="footer">
        <img class="footer__logo" src="../logos/logo_design_oh_green.png" alt="logo">
        
        <hr class="footer__break">
        <ul class="footer__list">
            <li class="footer__list-item">
                <a class="footer__anchor" href="#"><i class="fas fa-chevron-right footer__arrow"></i>program 21/22</a>
            </li>

            <li class="footer__list-item">
                <a class="footer__anchor" href="#"><i class="fas fa-chevron-right footer__arrow"></i>tidligere programmer</a>
            </li>

            <li class="footer__list-item">
                <a class="footer__anchor" href="#"><i class="fas fa-chevron-right footer__arrow"></i>bliv medlem</a>
            </li>

            <li class="footer__list-item">
                <a class="footer__anchor" href="#"><i class="fas fa-chevron-right footer__arrow"></i>vores historie</a>
            </li>

            <li class="footer__list-item">
                <a class="footer__anchor" href="#"><i class="fas fa-chevron-right footer__arrow"></i>om os</a>
            </li>

            <li class="footer__list-item">
                <a class="footer__anchor" href="#"><i class="fas fa-chevron-right footer__arrow"></i>vores vedtægter</a>
            </li>

            <li class="footer__list-item">
                <a class="footer__anchor" href="#"><i class="fas fa-chevron-right footer__arrow"></i>kontakt os</a>
            </li>
        </ul>

        <div class="footer__some">
            <a href="" class="footer__some-logo"><i class="fab fa-facebook-square"></i></a>
            <p class="footer__some-txt">Vi er på Facebook!</p>
        </div>

    </footer>
</body>
</html>