<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://use.typekit.net/egq1yjh.css">
</head>
<body>
    <footer class="footer">
        <div class="footer__logo">

        </div>

        <ul class="footer__list">
            <li class="footer__list-item">
                <a class="footer__anchor" href="#">program 21/22</a>
            </li>

            <li class="footer__list-item">
                <a class="footer__anchor" href="#">tidligere programmer</a>
            </li>

            <li class="footer__list-item">
                <a class="footer__anchor" href="#">bliv medlem</a>
            </li>

            <li class="footer__list-item">
                <a class="footer__anchor" href="#">vores historie</a>
            </li>

            <li class="footer__list-item">
                <a class="footer__anchor" href="#">om os</a>
            </li>

            <li class="footer__list-item">
                <a class="footer__anchor" href="#">vores vedtægter</a>
            </li>

            <li class="footer__list-item">
                <a class="footer__anchor" href="#">kontakt os</a>
            </li>
        </ul>

        <div class="footer__some">

        </div>

    </footer>
</body>
</html>