<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://use.typekit.net/egq1yjh.css">
    <script src="https://kit.fontawesome.com/bd8605f5df.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="nav">

        <div class="nav__wrapper">
            <img src="../logos/logo_design_oh_green.png" alt="logo" class="nav__logo">

            <ul class="nav__list">
                <li class="nav__list-item">
                    <a href="" class="nav__anchor">
                        <img class="nav__img" src="../logos/program.svg" alt="program logo">
                    </a>
                </li>
                <li class="nav__list-item">
                    <a href="" class="na__anchor">
                        <img src="../logos/tilmeld.svg" alt="tilmeld logo" class="nav__img">
                    </a>
                </li>
                <li class="nav__list-item">
                    <a href="" class="na__anchor">
                        <img src="../logos/menu.svg" alt="tilmeld logo" class="nav__img">
                    </a>
                </li>
            </ul>
        </div>

        <div class="nav__menu">
            <ul class="nav__menu-list">
                <li class="nav__menu-list-item">
                    <a href="" class="nav__menu-list-item">Program 21/22 <i class="fas fa-chevron-down"></i></a>
                </li>
                <li class="nav__menu-list-item">
                    <a href="" class="nav__menu-list-item">bliv medlem</a>
                </li>
                <li class="nav__menu-list-item">
                    <a href="" class="nav__menu-list-item">om os</a>
                </li>
                <li class="nav__menu-list-item">
                    <a href="" class="nav__menu-list-item">vores historie</a>
                </li>
                <li class="nav__menu-list-item">
                    <a href="" class="nav__menu-list-item">vores vedtægter</a>
                </li>
                <li class="nav__menu-list-item">
                    <a href="" class="nav__menu-list-item">kontakt os</a>
                </li>
            </ul>
        </div>
        
    </nav>


</body>
</html>