<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://use.typekit.net/egq1yjh.css">
    <script src="https://kit.fontawesome.com/bd8605f5df.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="nav">
        
        <img src="../logos/logo_design_oh_green.png" alt="logo" class="nav__logo">

        <ul class="nav__list">
            <li class="nav__list-item">
                <a href="" class="na__anchor">
                    <img class="nav__img" src="../logos/program.svg" alt="program logo">
                </a>
            </li>
            <li class="nav__list-item">
                <a href="" class="na__anchor">
                    <img src="../logos/tilmeld.svg" alt="tilmeld logo" class="nav__img">
                </a>
            </li>
            <li class="nav__list-item">
                <a href="" class="na__anchor">
                    <img src="../logos/menu.svg" alt="tilmeld logo" class="nav__img">
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>