<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://use.typekit.net/egq1yjh.css">
    <link rel="stylesheet" href="../css/pop-up-contact.css">
    <title>pop-op</title>
    
</head>
<body>
    <div class="pop-up-container">
        <div class="pop-up" id="popup">
            <a href="#" class="close-pop-up-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 78.59 78.692">
                    <path id="Icon_ionic-ios-close-circle" data-name="Icon ionic-ios-close-circle" d="M42.67,3.375A39.346,39.346,0,1,0,81.965,42.721,39.315,39.315,0,0,0,42.67,3.375Zm9.956,53.59L42.67,47l-9.956,9.969a3.021,3.021,0,1,1-4.27-4.275L38.4,42.721l-9.956-9.969a3.021,3.021,0,0,1,4.27-4.275l9.956,9.969,9.956-9.969a3.021,3.021,0,0,1,4.27,4.275l-9.956,9.969L56.9,52.69a3.04,3.04,0,0,1,0,4.275A3,3,0,0,1,52.626,56.965Z" transform="translate(-3.375 -3.375)" fill="#cc1414"/>
                </svg>
            </a>
            <div class="clear"></div>

            <div class="iconpic">
                <img src="../img/contact-pop-up-ikon.png" alt="">
            </div>
            <div class="pop-up-text">
                <h1>
                    Tak for din besked!
                </h1>

                <div class="stick">
                    
                </div>
                    <p class="name">
                        Kære Eva!
                    </p>

                    <p class="pop-up-bodytext">
                        Vi har modtaget din besked og 
                        vi vil vende tilbage til dig hurtigst muligt.
                        Vi har sendt en kvittering på at beskeden er sendt til
                        din email
                    </p>
                    <p class="pop-up-mail">
                        evasmail@gmail.com
                    </p>

                    <p class="pop-up-massage-time">
                        Vi stræber efter at kunne rette henvendelse til dig mellem 1-3 hverdage
                    </p>

                </div>
            </div>
         </div>
    </div>
</body>
</html>