
:root {
    --member-text-fontsize: 20px;
}
/*#region ............ about................. */
.about-us__wrapper {
    padding: 0 25px;
    padding-top: 125px;
}

.about-us__header {
    color: var(--primary-txt-color);
    font-size: 3.2rem;
    font-weight: 600;
}

.about-us__header-small {
    color: var(--primary-txt-color);
    font-size: 2.2rem;
    font-weight: 600;
    margin-top: 15px;
}

.about-us__txt {
    color: var(--primary-txt-color);
    font-size: 1.6rem;
    font-weight: 400;
}

.about-us__txt--margin {
    margin-bottom: 50px;
}

/*#endregion ............ about...................*/

/*#region ................ team...............*/

.team-wrapper {
    background: linear-gradient(185deg, rgba(204,227,228,1) 0%, rgba(204,227,228,1) 90%, rgba(255,255,255,1) 90%);
    padding: 25px 25px;
    height: 1420px;
}

.team-wrapper__intro {
    display: flex;
    flex-direction: column;
}

.team-wrapper__header {
    text-align: center;
    margin-top: 25px;
    color: var(--primary-txt-color);
    font-size: 3.2rem;
    font-weight: 600;
}
.team-wrapper__txt {
    text-align: center;
    padding-bottom: 15px;
    color: var(--primary-txt-color);
    font-size: 1.6rem;
    font-weight: 400;
}

.image-fluid {
    width: 100%;
}

.teammembers__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;

}

.teammembers__member-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.teammember__name {
    color: var(--primary-txt-color);
    font-size: 2rem;
    font-weight: 600;
}

.teammember__info {
    color: var(--primary-txt-color);
    font-size: 1.6rem;
    font-weight: 400;
}

/*#endregion .................. end team............ */

/*#region ...........contact.................. */
.contact {
    padding: 25px 25px;
    padding-top: 125px;
}

.contact__header {
    color: var(--primary-txt-color);
    font-size: 3.2rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}

.contact__header--second {
    margin-top: 50px;
}

.contact__txt {
    color: var(--primary-txt-color);
    font-size: 1.6rem;
    font-weight: 400;
}

.contact__info__wrapper {
    display: flex;
    background: rgb(204,227,228);
    background: linear-gradient(186deg, rgba(204,227,228,1) 78%, rgba(255,255,255,1) 79%);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 80px;
}

::placeholder {
    font-family: pelago, sans-serif;
}

.contact-bg {
    background: linear-gradient(185deg, rgba(204,227,228,1) 0%, rgba(204,227,228,1) 90%, rgba(255,255,255,1) 90%);
    padding: 5px 25px;
    height: 320px;
}

.contact-form {
    justify-content: center;
    margin: 50px 25px;
}

.contact__form__name {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.contact__name {
    display:flex; 
    width: 100%;
}
.contact__input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--primary-txt-color);
    padding-left: 5px;
    padding-top: 5px;
}

.contact__textform {
    width: 100%;
}

.input__form {
    margin-bottom: 25px;
    padding-bottom: 24px;
    padding-left: 5px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid var(--primary-txt-color);
}

.contact__form__fill {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
}

.contact__send-btn {
    display: flex;
    justify-content: flex-end;
}

.contactform-textform__button {
width: 160px;
height: 42px;
margin: 25px 0 0 0;
font-size: 2.2rem;
font-weight: 600;
text-transform: uppercase;
background-color: var(--btn-color);
border-radius: 5px;
box-shadow: 1px 2px #23272a66;
border: none;
display: flex;
justify-content: center;
align-items: center;
color: var(--secondary-txt-color);

}

/*#endregion .................end contact............*/

@media only screen and (max-width: 360px) {
    .team-wrapper {
        height: 1620px;
    }
}

@media only screen and (min-width: 375px) {
    .team-wrapper {
        height: 1520px;
    }
}


@media only screen and (min-width: 650px) {
    .contact {
        display: block;
        margin: 0 10%;
    }

    .contact-form {
        display: block;
        margin: 0 11%;
    }
    .contact__send__btn {
        margin-bottom: 10%;
    }
    .about-us__wrapper {
        display: block;
        margin: 0 10%;
    }
}