
:root {
    --member-text-fontsize: 20px;
}
/*#region ............ about................. */
.about-us__wrapper {
    padding: 0 25px;
    padding-top: 125px;
}

.about-us__header {
    color: var(--primary-txt-color);
    font-size: 3.2rem;
    font-weight: 600;
}

.about-us__header-small {
    color: var(--primary-txt-color);
    font-size: 2.2rem;
    font-weight: 600;
    margin-top: 15px;
}

.about-us__txt {
    color: var(--primary-txt-color);
    font-size: 1.6rem;
    font-weight: 400;
}

.about-us__txt--margin {
    margin-bottom: 50px;
}

/*#endregion ............ about...................*/

.team-wrapper {
    background: linear-gradient(185deg, rgba(204,227,228,1) 0%, rgba(204,227,228,1) 90%, rgba(255,255,255,1) 90%);
    padding: 25px 25px;
    height: 1420px;
}

.team-wrapper__intro {
    display: flex;
    flex-direction: column;
}

.team-wrapper__header {
    text-align: center;
    margin-top: 25px;
    color: var(--primary-txt-color);
    font-size: 3.2rem;
    font-weight: 600;
}
.team-wrapper__txt {
    text-align: center;
    padding-bottom: 15px;
    color: var(--primary-txt-color);
    font-size: 1.6rem;
    font-weight: 400;
}

.image-fluid {
    width: 100%;
}

.teammembers__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;

}

.teammembers__member-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.teammember__name {
    color: var(--primary-txt-color);
    font-size: 2rem;
    font-weight: 600;
}

.teammember__info {
    color: var(--primary-txt-color);
    font-size: 1.6rem;
    font-weight: 400;
}

.contact__wrapper {
    padding: 25px 25px;
    padding-top: 125px;
}

.contact__info__wrapper {
    display: flex;
    background: rgb(204,227,228);
    background: linear-gradient(186deg, rgba(204,227,228,1) 78%, rgba(255,255,255,1) 79%);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 80px;
}


.contact__info__header {
    padding: 25px 20px;
}

.contact__info__form {
    justify-content: center;
    margin: 0 25px;
}

.contact__form__name {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;

}


.contact__name {
    display:flex; 
    width: 100%;
}
.contact__input {
    width: 100%;
 
}

.contact__textform {
    width: 100%;
}

.input__form {
    margin-bottom: 25px;
    width: 100%;
}


.contactform__textform__button {
width: 112px;
height: 34px;
padding: 5px 31px;
background-color: var(--btn-color);
border: none;
border-radius: 2px;
display: flex;
justify-content: center;
align-items: center;
color: var(--secondary-txt-color);
float: right;
}