/*#region ............... HEADER ...............................*/
.header {
    width: 100%;
    height: 205px;
}
/*#endregion ................ END HEADER .........................*/

/*#region .............................. PROGRAM ........................ */

.program {
    width: 100%;
    height: 1000px;
    background: linear-gradient(185deg, rgba(204,227,228,1) 0%, rgba(204,227,228,1) 84%, rgba(255,255,255,1) 84%);
}

.program__header {
    color: var(--primary-txt-color);
    padding: 25px 0 0 25px;
    font-size: 3.2rem;
    font-weight: 600;
}

.program__intro {
    color: var(--primary-txt-color);
    margin: 10px 25px 0 25px;
    font-size: 1.8rem;
    font-weight: 600;
}

.program__btn {
    display: flex;
    justify-content: flex-end;
}

.btn-medium {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-color);
    border-radius: 5px;
    box-shadow: 1px 2px #0006;
    margin: 25px 25px 0 25px;
    width: 160px;
    height: 42px;
    color: var(--secondary-txt-color);
    text-transform: uppercase;
    font-size: 2rem;
    cursor: pointer;
}

.btn-medium:hover {
    background-color: var(--btn-hover);
}

.program__card {
    border: 1px solid red;
    width: auto;
    height: 396px;
    margin: 15px 25px;
}

.program__card-img {
    width: 100%;
    height: 224px;
}

.program__card-header {
    color: var(--primary-txt-color);
    font-size: 2.6rem;
    font-weight: 600;
}

.program__card-location {
    color: var(--primary-txt-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.program__card-txt {
    font-size: 1.8rem;
}

/*#endregion ............................ END PROGRAM ...................*/