/*#region ............ ROOT ............................. */

:root {
    --primary-color: #a4c3b2;
    --accent-color: #6b9080;
    --accent-2-color: #cce3e4;
    --primary-bg-color: #fdfdfd;
    --secondary-bg-color: #eaf4f4;
    --primary-txt-color: #23272a;
    --secondary-txt-color: #fdfdfd;
    --btn-color: #7289da;
    --btn-hover: #4E5D94;

    font-family: pelago, sans-serif;
    font-size: 10px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, p {
    margin-top: 0;
    margin-bottom: 0;
}


/* #endregion .............. END ROOT ..................*/

/*#region ...................NAVIGATION.....................*/
.nav {
    width: 100%;
}
/* #endregion ..................END NAVIGATION..........*/

/*#region ....................FOOTER...........................*/
.footer {
    width: 100vw;
    background-color: #a4c3b2;
}

.footer__logo {
    width: auto;
    height: auto;
    margin: 25px 0 12px 25px;
}

.footer__break {
    border: 2px solid var(--accent-color);
    margin: 0 0 27px 0;
}

.footer__list {
    padding-left: 25px;
    padding-bottom: 20px;
}

.footer__list-item {
    list-style-type: none;
    padding-right: 10px;
    margin: 6px 0px;
}

.footer__anchor {
    text-decoration: none;
    color: var(--primary-txt-color);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.2rem;
}

.footer__anchor:hover {
    text-decoration: underline;
}

.footer__arrow {
    margin-right: 10px;
}

.footer__some {
    display: flex;
}

.footer__some-logo {
    color: var(--primary-txt-color);
    font-size: 5rem;
    margin-left: 25px;
    margin-bottom: 50px;
}

.footer__some-txt {
    color: var(--primary-txt-color);
    font-size: 2.2rem;
    font-weight: 500;
    margin:29px 0px 0px 7px;
    cursor: pointer;
}

.footer__some-txt:hover {
    text-decoration: underline;
    }

/*#endregion ...................END FOOTER......................*/ 