:root {
    --primary-color: #a4c3b2;
    --accent-color: #6b9080;
    --accent-2-color: #cce3e4;
    --primary-bg-color: #fdfdfd;
    --secondary-bg-color: #eaf4f4;
    --primary-txt-color: #23272a;
    --secondary-txt-color: #fdfdfd;
    --btn-color: #7289da;
    --btn-hover: #4E5D94;
    --h1-fontsize: 32px;
    --h2-fontsize: 26px;
    --p-fontsize: 16px;
    font-family: pelago, sans-serif;
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
  
}



.member-price__wrapper {
 margin: 0 25px;
}
/*membership */
.membership__header {
    padding: 10px 0;
}

.header {
    font-size: var(--h1-fontsize);
}

.smallheader {
    font-size: 26px;
}

.bodytext {
    font-size: var(--p-fontsize);
}



/*price_section*/
.price__wrapper {
    margin-top: 50px;
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
}

.price__section__wrapper {
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px var(--accent-color);
    margin-top: 15px;
}

.price__section__prices:last-of-type {
margin-left: auto;
}

/*erna*/

.call-erna__header {
    margin-top: 50px;
}

.call-erna__wrapper {
    background-image: url("gfx/erna.png");
    width: 100%;
    background-repeat: no-repeat;
    /*border: 1px solid white;*/
    position: relative;
}


.call-erna__name {
    margin-top: 13px;
}

.name {
    font-size: var(--p-fontsize);
    font-weight: bold;
}

.erna-image {
    width: 100%;

} 
.call-erna__overlay {
    width: 100%;
    font-size: 13px;
    background-color: var(--accent-color);
    opacity: 90%;
  
    position: absolute;
    bottom: 0;
    left: 0;
}

.call-erna__description {
    padding: 25px 25px 0 25px;
    font-size: 1.6rem;
    font-weight: 400;
}

.erna-padding{
    padding: 5px 25px 0 25px;
}
.call-erna__email {
    padding-bottom: 25px;
}


