/*#region ................membership & price............... */
.membership {
 margin: 0 25px;
 padding-top: 115px;
}

.membership__header {
    margin-top: 10px;
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--primary-txt-color);
}

.membership__txt {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-txt-color);
}

.membership__txt--margin {
    margin-top: 5px;
}


/*price_section*/
.price {
    margin-top: 50px;
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
}

.price__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 2px var(--accent-color);
    margin-top: 15px;
}

.price__header {
    font-size: 2.6rem;
    font-weight: 600;
    color: var(--primary-txt-color);
}

.price__section-txt{
    font-size: 1.6rem;
    color: var(--primary-txt-color);
}

.price__section-prices:last-of-type {
margin-left: auto;
}

/*#endregion .................. end member & price...... */

/* #region ................ call erna...................... */

.call-erna__header {
    margin: 50px 25px;
    margin-bottom: 5px;
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--primary-txt-color);
}

.call-erna__wrapper {
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.erna-image {
    width: 100%;
    display: block;
} 

.erna-image-desktop {
    width: 100%;
    display: none;
}

.call-erna__overlay {
    width: 100%;
    font-size: 13px;
    background-color: var(--accent-color);
    opacity: 95%;
  
    position: absolute;
    bottom: 0;
    left: 0;
}

.call-erna__txt {
    padding: 10px 25px;
    font-size: 1.6rem;
    font-weight: 400;
}

.call-erna__info {
    margin: 5px 25px 25px 25px;
}

.call-erna__name {
    font-size: 1.6rem;
    font-weight: 600;
}

.call-erna__info-txt {
    font-size: 1.6rem;
    font-weight: 400;
    margin: 5px 0;
}
/*#endregion .................. end erna card ............*/

@media only screen and (min-width: 650px) {
    
    .erna-image {
        
        display: none;
    } 
    
    .erna-image-desktop {
        display: block;
        
    }
   .call-erna__wrapper {
       display: block;
       margin-right: auto;
       margin-left: auto;
       width: 80%;
   }
   .membership__wrapper {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
   }
   .price {
       display: block;
       margin-right: auto;
       margin-left: auto;
       width: 80%;
   }
   .call-erna__header {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
   }
  
}