
.wrap {
    padding-top: 125px;
    margin: 0 25px;
}


.program {
    display: grid;
    grid-template-rows: (1, 1fr);
    gap: 80px;
}

.program__intro-heading {
    font-size: 32px;
}

.program__intro-paragraph {
    font-size: 14px;
}



.program__calendar-calendar {
    height: 50vh;
    font-size: 14px;
}

.program__sort {
    margin: 10px 0;
    padding: 10px;
    background-color: var(--accent-2-color);

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.program__sort div {
    display: flex;
    gap: 12px;
    align-items: center;
}

.program__sort div p a {
    color: var(--primary-txt-color);
}

.program__sort div select {
    padding: 6px;
}

.program__more {
    text-align: center;
    font-size: 22px;
}

.program__more a {
    color: var(--primary-txt-color);
    text-decoration: none;
    font-weight: 600;

}


/* #region  change from frontpage.css */
.program {
    width: 100%;
    height: 100%;
    background: var(--primary-bg-color);
}


.program__intro {
    color: var(--primary-txt-color);
    margin: 0;
    font-size: 1.8rem;
    font-weight: 400;
}

.program__card {
    width: auto;
    height: auto;
    margin: 0;
    background-color: var(--secondary-bg-color);
    border-radius: 5px;
    box-shadow: 1px 2px #23272a22;
}

.program__card img {
    object-fit: cover;
}

/* #endregion */


@media only screen and (min-width: 1025px){
    .wrap {
        width: 80%;
        margin: auto;
    }

    .program__calendar-calendar {
        height: 70vh;
        font-size: 14px;
    }
}