
.wrap {
    padding-top: 125px;
    margin: 0 25px;
}

.program {
    display: grid;
    grid-template-rows: (1, 1fr);
    gap: 80px;
}

.program__intro-heading {
    font-size: 32px;
}

.program__intro-paragraph {
    font-size: 14px;
}




.program__calendar-calendar {
    
    height: 60vh;
}







